/* src/App.css */

/* Reset de margen y padding del body */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Color de fondo */
}

/* Establecer altura completa para la aplicación */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mínimo 100% de la altura del viewport */
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-title {
  margin: 0;
  font-size: 24px;
}

.header-buttons {
  display: flex;
}

.header-buttons button {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.header-buttons button:hover {
  background-color: #0e92e6;
}

.main-content {
  flex: 1; /* Ajustar para ocupar el espacio restante */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 600px;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.video {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.video:hover {
  transform: scale(1.05);
}

.video h2 {
  background-color: #282c34;
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 16px;
}

footer {
  padding: 10px 0;
  background-color: #282c34;
  color: white;
  text-align: center;
}
